<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="baixa_produtos/new" class="btn btn-success">Nova pendência recebimento</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Id</th>
    <th>Observações</th>
    <th>Classificação</th>
    <th>Número</th>
    <th>Tipo</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |baixa_produto|}}
      <tr>
        <td>{{baixa_produto.id}}</td>
        <td>{{baixa_produto.observacoes}}</td>
        <td>{{baixa_produto.classificacao}}</td>
        <td>{{baixa_produto.numero}}</td>
        <td>{{baixa_produto.tipo_movimento}}</td>
        <td>
          <LinkTo @route="baixa_produtos/edit" @model={{baixa_produto}} class="btn btn-primary">Editar</LinkTo>
          <button type="submit" class="btn btn-primary" {{on "click" (fn this.delete baixa_produto)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
