<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="conta_contabeis/new" class="btn btn-success">Novo plano de conta</LinkTo>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <label for="order">Ordem:</label>
    <select id ="order" {{on "change" (fn this.sortData ) }}>
      <option value='tipo'>Tipo cresc</option>
      <option value='-tipo'>Tipo decresc</option>
      <option value='nome'>Nome cresc</option>
      <option value='-nome'>Nome decresc</option>
      <option value='id'>Id cresc</option>
      <option value='-id'>Id decresc</option>
    </select>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Ip</th>
    <th>Tipo</th>
    <th>Nome</th>
    <th>Código</th>
    <th>Status</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |conta_contabil|}}
      <tr>
        <td>{{conta_contabil.id}}</td>
        <td>{{conta_contabil.tipo}}</td>
        <td>{{conta_contabil.nome}}</td>
        <td>{{conta_contabil.codigo}}</td>
        <td>{{conta_contabil.status}}</td>
        <td>
          <LinkTo @route="conta_contabeis/edit" @model={{conta_contabil}} class="btn btn-primary">Editar</LinkTo>
          <button type="button" class="btn btn-primary" {{on "click" (fn this.delete conta_contabil)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
