<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="centro_custos/new" class="btn btn-success">Novo centro custo</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Nome</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |centro_custo|}}
      <tr>
        <td>{{centro_custo.nome}}</td>
        <td>
          <LinkTo @route="centro_custos/edit" @model={{centro_custo}} class="btn btn-primary">Editar</LinkTo>
          <button type="button" class="btn btn-primary" {{on "click" (fn this.delete centro_custo)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
