<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="orcamentos/new" class="btn btn-success">Novo orçamento</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Número</th>
    <th>Status</th>
    <th>Observação</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |orcamento|}}
      <tr>
        <td>{{orcamento.numero}}</td>
        <td>{{orcamento.status}}</td>
        <td>{{orcamento.observacao}}</td>
        <td>
          <LinkTo @route="orcamentos/edit" @model={{orcamento}} class="btn btn-primary">Editar</LinkTo>
          <button type="submit" class="btn btn-primary" {{on "click" (fn this.delete orcamento)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
