<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="lancamentos/new" class="btn btn-success">Novo lançamento</LinkTo>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <label for="order">Ordem:</label>
    <select id ="order" {{on "change" (fn this.sortData ) }}>
      <option value='tipo'>Tipo cresc</option>
      <option value='-tipo'>Tipo decresc</option>
      <option value='valor'>Valor cresc</option>
      <option value='-valor'>Valor decresc</option>
      <option value='id'>Id cresc</option>
      <option value='-id'>Id decresc</option>
    </select>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Id</th>
    <th>Tipo</th>
    <th>Valor</th>
    <th>Descrição</th>
    <th>Natureza</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |lancamento|}}
      <tr>
        <td>{{lancamento.id}}</td>
        <td>{{lancamento.tipo}}</td>
        <td>{{lancamento.valor}}</td>
        <td>{{lancamento.descricao}}</td>
        <td>{{lancamento.natureza}}</td>
        <td>
          <LinkTo @route="lancamentos/edit" @model={{lancamento}} class="btn btn-primary">Editar</LinkTo>
          <button type="button" class="btn btn-primary" {{on "click" (fn this.delete lancamento)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
