<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="pendencia_recebimentos/new" class="btn btn-success">Nova pedência recebimento</LinkTo>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <label for="order">Ordem:</label>
    <select id ="order" {{on "change" (fn this.sortData ) }}>
      <option value='quantidade'>Quantidade cresc</option>
      <option value='-quantidade'>Quantidade decresc</option>
      <option value='id'>Id cresc</option>
      <option value='-id'>Id decresc</option>
    </select>
  </div>
</div>
{{!- TODO: Tables must have a table group (thead, tbody or tfoot). -}}
{{!- TODO: ember-template-lint(table-groups)  -}}
<table class="table table-stripped">
  <thead>
    <th>Id</th>
    <th>Quantidade</th>
    <th>Observação</th>
    <th>Classificação</th>
    <th>Situação</th>
    <th colspan="3"></th>
  </thead>
  <tbody>
  {{#each this.model as |pendencia_recebimento|}}
    <tr>
      <td>{{pendencia_recebimento.id}}</td>
      <td>{{pendencia_recebimento.quantidade}}</td>
      <td>{{pendencia_recebimento.observacao}}</td>
      <td>{{pendencia_recebimento.classificacao}}</td>
      <td>{{pendencia_recebimento.situacao}}</td>
      <td>
        <LinkTo @route="pendencia_recebimentos/edit" @model={{pendencia_recebimento}} class="btn btn-primary">Editar</LinkTo>
        {{!- TODO: Do not use `action` Instead, use the `on` modifier and `fn` helper. -}}
        {{!- TODO: ember-template-lint(no-action) -}}
        <button type="button" class="btn btn-primary" {{on "click" (fn this.delete pendencia_recebimento)}}>Excluir</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
