<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="unidade_medidas/new" class="btn btn-success">Nova unidade medida</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Nome</th>
    <th>Sigla</th>
    <th>Descrição</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |unidade_medida|}}
      <tr>
        <td>{{unidade_medida.nome}}</td>
        <td>{{unidade_medida.sigla}}</td>
        <td>{{unidade_medida.descricao}}</td>
        <td>
          <LinkTo @route="unidade_medidas/edit" @model={{unidade_medida}} class="btn btn-primary">Editar</LinkTo>
          <button type="button" class="btn btn-primary" {{on "click" (fn this.delete unidade_medida)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
