<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="requisicao_materiais/new" class="btn btn-success">Nova requisição material</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Quantidade</th>
    <th>Ativo</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |requisicao_material|}}
      <tr>
        <td>{{requisicao_material.quantidade}}</td>
        <td>{{requisicao_material.ativo}}</td>
        <td>
          <LinkTo @route="requisicao_materiais/edit" @model={{requisicao_material}} class="btn btn-primary">Editar</LinkTo>
          <button type="button" class="btn btn-primary" {{on "click" (fn this.delete requisicao_material)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
