<h1>Marcas</h1>
<td>
  <h4>Criar nova marca</h4>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-primary float-right" href="/marcas/new" role="button">Nova marca</a>
    </div>
  </div>
</td>
<table>
  <ul>
    <tr>
      <th>
          <label>Id</label>
      </th>
      <th>
          <label>Nome</label>
      </th>
      <th>
          <label>Descrição</label>
      </th>
    </tr>
    {{#each @model.marcas as |marca|}}
      <tr>
        <td>{{marca.id}}</td>
        {{#if marca.id}}
          <td>{{marca.nome}}</td>
          <td>{{marca.descricao}}</td>
          <td>
            <a class="btn btn-primary" href="/marcas/{{marca.id}}" role="button">Editar</a>
            <a class="btn btn-primary" {{action 'deleteMarca' marca}} role="button">Excluir</a>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </ul>
</table>
