<h2>Criar nova marca</h2>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Nome:</label>
    <div class="col-sm-6">
      {{input type="text" value=model.marca.nome class="form-control" placeholder="Marca"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Descrição:</label>
    <div class="col-sm-6">
      {{input type="text" value=model.marca.descricao class="form-control" placeholder="Descrição"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Laboratório:</label>
    <div class="col-sm-2">
      <select id="laboratorioId" class="form-control" {{on 'change' this.updateValue}} >
        {{#each @model.laboratorios as |lab|}}
          <option value="{{lab.id}}">{{lab.nome}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" {{on 'saveMarca' model.marca}}>Salvar</button>
    </div>
  </div>
</div>
