<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="pedidos/new" class="btn btn-success">Novo pedido</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Status</th>
    <th>Observação</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |pedido|}}
      <tr>
        <td>{{pedido.status}}</td>
        <td>{{pedido.observacao}}</td>
        <td>
          <LinkTo @route="pedidos/edit" @model={{pedido}} class="btn btn-primary">Editar</LinkTo>
          <button type="submit" class="btn btn-primary" {{on "click" (fn this.delete pedido)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
