<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="chave_nfses/new" class="btn btn-success">Nova chave nfse</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Chave</th>
    <th>Valor</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |chave_nfse|}}
      <tr>
        <td>{{chave_nfse.chave}}</td>
        <td>{{chave_nfse.valor}}</td>
        <td>
          <LinkTo @route="chave_nfses/edit" @model={{chave_nfse}} class="btn btn-primary">Editar</LinkTo>
          <button type="button" class="btn btn-primary" {{on "click" (fn this.delete chave_nfse)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
