<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="categoria_produtos/new" class="btn btn-success">Nova categoria produto</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Nome</th>
    <th>Descrição</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |categoria_produto|}}
      <tr>
        <td>{{categoria_produto.nome}}</td>
        <td>{{categoria_produto.descricao}}</td>
        <td>
          <LinkTo @route="categoria_produtos/edit" @model={{categoria_produto}} class="btn btn-primary">Editar</LinkTo>
          <button type="submit" class="btn btn-primary" {{on "click" (fn this.delete categoria_produto)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
