{{#if @model}}
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Laboratório:
    </label>
    {{!-- <div class="col-sm-6">
      <select id="laboratorioId" class="form-control" {{on 'change' this.laboratorio @model}} >
        {{#each @model.laboratorios as |lab|}}
          <option value="{{lab.id}}">{{lab.nome}}</option>
        {{/each}}
      </select>
    </div> --}}
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Nome:
    </label>
    <div class="col-sm-6">
      <Input @type="text" @value={{@model.nome}} class="form-control" placeholder="Marca" autofocus/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Descrição:
    </label>
    <div class="col-sm-6">
      <Input @type="text" @value={{@model.descricao}} class="form-control" placeholder="Descrição"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" {{on "click" (fn this.save @model)}}>
        Salvar
      </button>
    </div>
  </div>
</div>
{{else}}
Regsitro não Encontrado
{{/if}}

