<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="atendimento_requisicoes/new" class="btn btn-success">Novo atendimento requisição</LinkTo>
    </div>
  </div>
</div>
<table class="table table-stripped">
  <thead>
    <th>Número</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    {{#each this.model as |atendimento_requisicao|}}
      <tr>
        <td>{{atendimento_requisicao.numero}}</td>
        <td>
          <LinkTo @route="atendimento_requisicoes/edit" @model={{atendimento_requisicao}} class="btn btn-primary">Editar</LinkTo>
          <button type="button" class="btn btn-primary" {{on "click" (fn this.delete atendimento_requisicao)}}>Excluir</button>
        </td>
      </tr>
    {{else}}
      <tr><td collspan="5">{{this.loading}}</td></tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="btn btn-success" {{on "click" this.pageDown}}>Anterior</button>
<button type="button" class="btn btn-success" {{on "click" this.pageUp}}>Próxima</button>
