{{#if @model}}
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Observações:
    </label>
    <div class="col-sm-6">
      <Input @type="text" @value={{@model.observacoes}} class="form-control" placeholder="Observações" autofocus/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Classificação:
    </label>
    <div class="col-sm-6">
      <Input @type="text" @value={{@model.classificacao}} class="form-control" placeholder="Classificação" autofocus/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Número:
    </label>
    <div class="col-sm-6">
      <Input @type="text" @value={{@model.numero}} class="form-control" placeholder="Número" autofocus/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Tipo:
    </label>
    <div class="col-sm-6">
      <Input @type="text" @value={{@model.tipo_movimento}} class="form-control" placeholder="Tipo"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" {{on "click" (fn this.save @model)}}>
        Salvar
      </button>
    </div>
  </div>
</div>
{{else}}
Regsitro não Encontrado
{{/if}}
