<ValidatedForm @model={{@model}} @on-submit={{perform this.save}} as |f|>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-6">
        <f.input
          @type="select"
          @label="Unidade Medida"
          @name="nome"
          @includeBlank="Select a unidade medida"
          @options={{this.unidade_medidas}}
          @value={{@model.unidade_medida}}
          @required={{true}}
        />
        <f.input
          @type="select"
          @label="categoria_produto"
          @name="nome"
          @includeBlank="Select a categoria_produto"
          @options={{this.categoria_produtos}}
          @value={{@model.categoria_produto}}
          @required={{true}}
        />
        <f.input
          @label="Mnemonico"
          @name="mnemonico"
          @required={{true}}
        />
        <f.input
          @label="Nome"
          @name="nome"
          @required={{true}}
        />
        <f.input
          @label="Descrição"
          @name="descricao"
          @required={{true}}
        />

        {{!-- <f.input @name="unidade_medida" @collection={{this.unidade_medidas}} />
        <f.input @name="categoria_produto" @collection={{this.categoria_produtos}} />
        <f.input @name="mnemonico" />
        <f.input @name="nome" />
        <f.input @name="descricao" /> --}}

        <f.submit @label="Save" />
      </div>
    </div>
  </div>
</ValidatedForm>

{{!-- <form role="form" {{on "submit" (fn this.save)}}>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Unidade medida saída:</label>
      <div class="col-sm-6">
        <select required name="unidade_medida">
          <option disabled selected> -- Selecione -- </option>
          {{#each this.unidade_medidas as |unidade_medida|}}
            <option value={{unidade_medida.id}}>{{unidade_medida.nome}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Categoria produto:</label>
      <div class="col-sm-6">
        <select required name="categoria_produto">
          <option disabled selected> -- Selecione -- </option>
          {{#each this.categoria_produtos as |categoria_produto|}}
            <option value={{categoria_produto.id}}>{{categoria_produto.nome}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Mnemonico:</label>
      <div class="col-sm-6">
        <Input @type="text" @value={{@model.mnemonico}} class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Nome:</label>
      <div class="col-sm-6">
        <Input @type="text" @value={{@model.nome}} class="form-control" placeholder="Nome" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Descrição:</label>
      <div class="col-sm-6">
        <Input @type="text" @value={{@model.descricao}} class="form-control" placeholder="Descrição" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {{!- TODO: Do not use `action` as. Instead, use the `on` modifier and `fn` -}}
        {{!- TODO: helper.ember-template-lint -}}
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </div>
</form> --}}
