<div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="pessoas/new" class="btn btn-success">Nova pessoa</LinkTo>
    </div>
  </div>
</div>
{{!- TODO: Tables must have a table group (thead, tbody or tfoot). -}}
{{!- TODO: ember-template-lint(table-groups)  -}}
<table class="table table-stripped">
  <thead>
    <th>ID</th>
    <th>Nome</th>
    <th>RG</th>
    <th>email</th>
    <th colspan="3"></th>
  </thead>
  <tbody>
  {{#each @model as |pessoa|}}
    <tr>
      <td>{{pessoa.id}}</td>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.rg}}</td>
      <td>{{pessoa.email}}</td>
      <td>
        <LinkTo @route="pessoas/edit" @model={{pessoa}} class="btn btn-primary">Editar</LinkTo>
        {{!- TODO: Do not use `action` Instead, use the `on` modifier and `fn` helper. -}}
        {{!- TODO: ember-template-lint(no-action) -}}
        <button type="submit" class="btn btn-primary" {{on "click" (fn this.delete pessoa)}}>Excluir</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
